/*  your css code here. If applicable */
body{
	background-color: #f5f5f5;
}
.header{
	text-align:start;
	background-color: #011e29;
	color:white;
	height:40px;
	padding:5px;
	display:flex;
	justify-content:center;
	align-item:center;
	
}
.latest-news-section{
	width:200vw;
	height:30vh;
}
.section>.main>h3{
	justify-content:column;
	align-items:center;
}
.latest-news-section,.pictorial-news-section,.main{
	border-radius:10px;
	background-color:white;
	margin:10px;
	padding:10px;
}
.body{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}

.latest-news-section,.main,.pictorial-news-section{
	font-size:13px;
}
.pictorial-news-section{
	text-align:center;
}
